/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

/*a {
  color: #00B7FF;
}*/

.butn {
    width: 250px;
    padding: 10px;
    margin: 2;
    cursor: pointer;
}
html, body {
    width: 100%; /* specify width on parent */
}
/*html {
  text-align: center;
}*/
* {
    margin: 0; padding: 0; box-sizing: border-box; /* reset */
}
